.main-text,.main-text p{
  text-align:center;
}

.main-text{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding-top: 430px;
}

.main-text2 {
  font-size:48px;
}

.main-text p{
  font-family:DNFForgedBlade!important
}

.main-text1:after{
  content:"";
  font-size:35px;
  text-shadow:#C38B61 1px 1px, #000 0px 0px, #000 1px 1px, #000 2px 2px, #000 3px 3px, #C38B61 4px 4px;
  display:none;
}

/* ★ 이미지 10px 아래로 이동 */
.main-text .main-text2:after{
  content: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgerv3nfyCsoZKC8URfepIOKPfvuZ5GHIdY8Y121-TOLZirqpbzhTxtQAukFbHGOliPSuCCVbbPrqvbGUWA1w5AdY6FO3Cusu7bQG_ygx_fZdpyXnABiIGmep3GelVbSv34L3m7e8q-_fBkD6idmzsJPOKFm-opidtouMEypm0zvqxqIOKGQ6x7HdfTl_ty/s16000/%EA%B7%B8%EB%A6%BC5.png") !important;
  font-size: 51px;
  text-shadow: #C38B61 1px 1px, #000 0px 0px, #000 1px 1px, #000 2px 2px, #000 3px 3px, #C38B61 4px 4px, #000 5px 5px;
  color: #FAECC5;
  filter: drop-shadow(1px 2px 3px black);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 10px)) !important;
}

.main-date span:before{
  content:"";
  display: inline-block;
  background-image: url("https://assets.playnccdn.com/static-nc-home/2.2.0/img/lineagew/guide/prev_pc.png");
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 5px;
}

.main-date span:after {
  content:"";
  display: inline-block;
  background-image: url("https://assets.playnccdn.com/static-nc-home/2.2.0/img/lineagew/guide/next_pc.png");
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-left: 5px;
}

.main-date span{
  font-size:35px;
  color:#fff;
  word-break:keep-all;
  word-wrap:break-word;
  border-radius:15px;
  font-family:'HeirofLightBold';
  filter: drop-shadow(1px 1px 1px #000);
}

.main-date1 span:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 241, 176, 0), rgba(255, 241, 176, 0) 30%, #ffffe5 50%, rgba(255, 241, 176, 0) 65%, rgba(255, 241, 176, 0));
  background-size: 400% 400%;
  background-position: 100% 70%;
  border-radius: 0;
  opacity: .4;
  animation: loopAni 4s ease Infinite;
  mix-blend-mode: overlay;
}

@keyframes loopAni {
  0% { background-position: 100% 70% }
  70% { background-position: 100% 70% }
  to { background-position: 0 20% }
}

.section-promotion .section-promotion__list{
  height:750px;
}

.section-promotion .section-promotion__list li{
  top:-200px;
}

@media screen and (max-width:1024px){

  .section-promotion .section-promotion__list li{
    top:0;
  }

  .main-text1:after{
    font-size:20px;
  }

  .main-text, .main-text p {
    padding-left:20px !important;
  }

  /* ★ 모바일용: 이미지도 10px 아래로 이동 */
  .main-text .main-text2:after{
    font-size: 50px;
    position: absolute;
    zoom: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 10px)) !important;
  }

  .main-text3 {
    padding-top:100px;
  }

  .main-text3 span {
    font-size:15px;
  }

  .main-date span{
    font-size:15px;
  }

  .section-promotion .section-promotion__list{
    height:250px!important
  }

  .section-promotion{
    top:0;
    padding-top:70px !important;
  }

  #showsidebar1 img,#showsidebar2 img ,#showsidebar3 img{
    height:100px!important
  }

  #showsidebar3{
    bottom:36%!important
  }
  #showsidebar2{
    bottom:22%!important
  }
  #showsidebar1{
    bottom:8%!important
  }
}
